.content-header  {

    background-color:#001f3f;  
    border-bottom: 4px solid green;
    padding: 20px;
    align-items: center;
    color: aliceblue;

}
.content-header .titulo .rm{
margin: 0;
font-size: 35px;
}
.content-header .titulo .ra{
    font-size: 20px;
    margin: 0px;
    }


.txt-objetivo{
margin-left: -20px;    }
.logo_hospital{
    width: 70px;
    height: 70px;
  }
  
 #descricao  textarea {
    line-height: 1.5;
}


.custom-select .options {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

.custom-select .option {
    padding: 5px 10px;
}

.custom-select .option input[type="checkbox"] {
    margin-right: 5px;
}
@media (max-width: 700px) {

    .content-header .titulo .rm{
        margin: 0;
        font-size: 20px;
        }
        .content-header .titulo .ra{
            font-size: 14px;
            margin: 0px;
            }
        
}